.DiscoverTheRange {
  margin: 0;
  padding: 120px 0px;

  background-color: $lightgrey;
  background-image: url("../../img/backgrounds/texture-blue-products-background.jpg");
  background-size: cover;
  background-position: top;

  @include flexCenter;
  flex-direction: column;

  h2 {
    margin-bottom: 40px;
  }
}
