.Instagram {
    padding: 40px 0;
    .container {
        padding-top: 0;
        padding-bottom: 20px;

        .feed-holder {
            margin-top: 20px;

            .feed {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .item {
                    position: relative;
                    width: 48%;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.33);
                    margin: 15px 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    @include md {
        .container {
            .feed-holder {
                .feed {
                    .item {
                        width: 32%;
                        margin: 15px 0;
                    }
                }
            }
        }
    }

    a {
        cursor: pointer;
    }
    .showMore {
        @include flexCenter;
    }
}

.InstaFeed {
    margin: 0;
    padding: 80px 0;

    background-color: #c7ccd0;
    background-image: url("../../img/backgrounds/instafeed-background.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;

    &.no-background {
        background: none;
    }

    .content {
        max-width: 700px;
        margin: 0 auto 40px;
        text-align: center;
        color: black;

        h2 {
            margin-bottom: 20px;
            color: black;
        }
    }

    .container {
        padding: 0;
    }

    .feed-holder {
        position: relative;
        overflow-x: scroll;
        width: 100%;

        .feed {
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            max-width: 1120px;
            width: 300%;
            padding: 0 20px;
            overflow-x: unset;

            a.item {
                width: calc(33.33% - 80px / 3);

                background-color: white;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
                margin: 30px 0;

                img {
                    width: 100%;
                }

                div {
                    padding: 15px;
                    color: black;
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }

    .showMore {
        @include flexCenter;
    }

    @include md {
        .feed-holder {
            padding: 0 40px;
        }
    }

    @include lg {
        .feed-holder {
            padding: 0 80px;

            .feed {
                width: auto;
                overflow-x: unset;
            }
        }
    }
}
