.Nav {
    width: 100%;
    height: $navHeightMobile;
    background: black;
    position: fixed;
    top: 0;
    z-index: 3000;

    .logo-container {
        position: relative;
        width: 50%;

        .logo {
            position: absolute;
            right: 0;

            img {
                width: $logoWidth * 0.6;
                transform: translateX(50%) translateY(10px);
                transition: all 0.2s;
                transition-timing-function: ease-in-out;
            }
        }
    }

    .hamburger {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 30px;
        top: 10px;

        &::after,
        &::before {
            content: " ";
            width: 24px;
            height: 1px;
            position: absolute;
            background: white;
            left: 7px;
            top: 15px;

            transition: transform 0.2s;
            transition-timing-function: ease-out;
            transform-origin: 50% 50%;
        }
        &::before {
            top: 25px;
        }
    }

    nav {
        position: absolute;
        right: 0px;
        width: 100vw;
        height: 100vh;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform: translateY(-100vh);

        ul {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
            margin-top: $navHeight * 0.5;
            height: 300px;

            li {
                position: relative;
                opacity: 0;
                transition-property: transform, opacity;
                transition-duration: 0.2s, 0.1s;
                transition-timing-function: ease-out;
                transform: translateY(-20px);

                transition-delay: 0.2s;
                &:nth-child(2) {
                    transition-delay: 0.25s;
                }
                &:nth-child(3) {
                    transition-delay: 0.25s;
                }
                &:nth-child(4) {
                    transition-delay: 0.3s;
                }
                &:nth-child(5) {
                    transition-delay: 0.3s;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    transform: scaleX(0);
                }

                .divider {
                    width: 40px;
                    height: 1px;
                    background: white;
                }

                a,
                .a {
                    font-family: $tradeGothic;
                    font-size: 36px;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
    }

    // Nav is avtive
    &.isActive {
        .hamburger {
            &::after {
                transform: rotate(-45deg) translateY(7px);
            }
            &::before {
                transform: rotate(45deg) translateY(-7px);
            }
        }

        .logo-container {
            .logo {
                img {
                    width: $logoWidth * 0.4;
                    transform: translateX(50%) translateY(10px);
                }
            }
        }

        nav {
            transform: translateY(0);
            transition: transform 0.2s;
            transition-delay: 0.1s;
            transition-timing-function: ease-in-out;

            ul {
                li {
                    opacity: 1;
                    transform: translateY(0px);

                    &:nth-child(2),
                    &:nth-child(4) {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    // -----------------------------------------------------
    // Switch Nav to desktop mode > 992px width
    // -----------------------------------------------------
    @include lg {
        height: $navHeight;

        .logo-container {
            .logo {
                position: absolute;
                img {
                    transform: translateX(50%) translateY(15px);
                    width: $logoWidth;
                }
            }
        }

        .hamburger {
            display: none;
        }

        nav {
            display: flex;
            position: absolute;
            right: 50px;
            height: 100%;
            width: auto;
            transform: translateY(0);

            ul {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                margin-top: 0;

                li {
                    opacity: 1;
                    transform: translateY(0px);

                    &:nth-child(2),
                    &:nth-child(4) {
                        transform: scaleX(1);
                    }

                    .divider {
                        width: 2px;
                        height: 12px;
                        margin: 0 10px;
                    }

                    a,
                    .a {
                        font-family: $tradeGothic;
                        font-size: 16px;
                        margin: 0;
                        padding: 8px 10px;
                        background: rgba(255, 255, 255, 0);
                        border-radius: 2px;
                        transition: background-color 0.15s ease-out;

                        &:hover {
                            padding: 8px 10px;
                            background: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
    }
}
