@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";

@import "base/reset";
@import "base/typography";

@import "components/buttons";
@import "components/hero";
@import "components/secret-suppers";
@import "components/meet-the-chefs";
@import "components/discover-the-range";
@import "components/where-to-buy";
@import "components/insta-feed";
@import "components/page-transition";
@import "components/navigation";

@import "layout/grid";
@import "layout/404";

body {
  margin: 0;
  background: $grey;
}

body,
* {
  box-sizing: border-box;
}

.wrapper {
  background: $black;
  animation: fadeInPage 0.5s ease-in;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
